<%include ../partials/header%>
    <h1 id="page-title" class="ui mobile-text-centered huge header">All Recipes</h1>
    <div id="Recipes" class="">
        <div class="ui three column stackable grid cards">
            <% recipes.forEach(function(recipe){ %>
                <div class="column four wide">
                    <div class="ui raised centered card" onclick="location.href='/recipes/<%=recipe._id%>';">
                        <div class="blurring dimmable image" id="card-image">
                            <div class="ui dimmer transition hidden">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Recipe</div>
                                    </div>
                                </div>
                            </div>
                            <img src="<%=recipe.image%>" class="small image">
                        </div>
                        <div class="content center aligned">
                            <a class="header">
                                <%= recipe.name%>
                            </a>
                        </div>
                        <!-- <div class="description">
                                <div id="recipe-stats" class="ui equal width grid">
                                    <div class="column center aligned bg-custom-blue" id="portion">
                                        <h5 id="portion-header" class="ui rounded ">
                                            Portion<br>
                                            <%=recipe.portion%>
                                        </h5>
                                    </div>
                                    <div class="column center aligned bg-custom-green" id="health">
                                        <h5 id="health-header " class="ui rounded ">
                                            Health<br>
                                            <%=recipe.health%>
                                        </h5>

                                    </div>
                                    <div class="column center aligned bg-custom-purple" id="taste">
                                        <h5 id="portion-header " class="ui rounded ">
                                            Taste<br>
                                            <%=recipe.taste%>
                                        </h5>
                                    </div>
                                </div>
                            </div> -->
                        <div class="extra content center aligned">
                            <a class="ui floated basic black button" href="/recipes/<%=recipe._id%>">
                            View
                            <i class="right chevron icon"></i>
                        </a>
                        </div>
                    </div>
                </div>
                <% });%>
        </div>
    </div>
    <%include ../partials/footer%>