<%include ../partials/header%>

<div class="ui two column stackable grid">
    <div class="row">
        <div class="column eight wide">
            <div class="recipe-image-wrapper">
                <img id="image" src="<%=recipe.image%>">
            </div>
        </div>
        <div class="column eight wide">
            <div class="row mt-3">
                <div class="recipe-title text-muted text-bold" id="title"><%=recipe.name%></div>
                <a class="edit-recipe" href="/<%=recipe._id%>/edit">
                    <i class="pencil icon edit-recipe-icon text-muted"></i>
                </a>
            </div>
            <div class="row">
                <div class="added-by mt-3 text-muted">
                    Added by: <strong><% if(recipe.addedBy){%>
                        <%=recipe.addedBy.username%>
                        <%} else {%>
                        Angie Marx
                        <%}%></strong>
                </div>
            </div>
            <div class="row mt-3">
                <div class="portion rounded-outline">
                    Makes <%=recipe.portion%> <%if(recipe.portion>1){%>
                        Portions
                        <%} else {%>
                        Portion
                        <%}%>
                </div>
                <div class="ui button
                    <% if (added || owner){%>
                        btn-custom-gray
                    <%} else if (!added && !owner){%>
                        btn-custom-dark-blue
                        <%}%>" id="add-button">
                        <% if (owner){%>
                        My Recipe
                        <%} else if(!owner && added) {%>
                        Saved
                        <%} else {%>
                        Save
                        <%}%>
                </div>
            </div>
            <div class="row ui three column unstackable grid mt-4">
                <div class="column center aligned right-border">
                    <h3><%=(recipe.taste+recipe.health)/2%>/10</h3>
                    <h3 class="text-thin  text-muted">Average</h3>
                </div>
                <div class="column center aligned right-border">
                    <h3><%=recipe.taste%>/10</h3>
                    <h3 class="text-thin  text-muted">Taste</h3>
                </div>
                <div class="column center aligned">
                    <h3><%=recipe.health%>/10</h3>
                    <h3 class="text-thin  text-muted">Health</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column eight wide">
        <table class="ui left aligned table">
            <thead>
                <tr>
                    <th class="left aligned">Directions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row-top">
                    <td class="table-cell-left">
                        <textarea id="directions" class="blank-input" name="recipe[directions]" type="text"
                            placeholder="Enter preparation instructions"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column eight wide">
        <table class="ui left aligned unstackable table">
            <thead>
                <tr>
                    <th class="left aligned">Ingredients</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="ingredients">
                <tr class="ingredient-row">
                    <td class="table-cell-left">
                        <input class="blank-input ingredient ingredient-data" name="ingredient[name]" type="text"
                            placeholder="Name">
                    </td>
                    <td class="table-cell-left table-cell-border-left">
                        <input class="blank-input ingredient ingredient-data" name="ingredient[quantity]" type="text"
                            placeholder="Qty">
                    </td>
                    <td class="table-cell-border-left add-button">
                        <i class="plus icon"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="column eight wide" id="clear-button-wrapper">
        <button class="ui basic button form-master-button" type="reset" id="recipe-clear">Clear</button>
    </div>
    <div class="column eight wide " id="submit-button-wrapper">
        <button class="ui btn-custom-dark-blue button form-master-button" type="submit"
            id="recipe-submit">Submit</button>
    </div>
</div>
</div>



<%include ../partials/footer%>