<%include ../partials/header%>


    <div class="ui one column grid" id="recipe">
        <div class="ui raised  card centered fourteen wide column">
            <!-- IMAGE -->
            <div class="image" id="large-card-image">
                <img src="<%=recipe.image%>" class="image" id="large-recipe-image">
            </div>
            <!-- Content -->
            <div class="ui content two column grid">
                <div class="row" id="header-info">
                    <div class="column ten wide" id="left-header">
                        <h1 id="recipe-title" class="ui left aligned huge header">
                            <%=recipe.name%>
                        </h1>
                        <% if(recipe.addedBy){%>
                        <h3 class="text-muted bottom" id="owner">
                            Added by:
                            <span class=" ">
                            <em>
                                <%=recipe.addedBy.username%></em></span>
                        </h3>
                        <%} else {%>
                        <h3 class="text-muted bottom" id="owner">
                            Added by:
                            <span class=" "><em>The Meal DB</em></span>
                        </h3>
                        <%}%>
                    </div>

                    <div class="column six wide" id="right-header">
                        <div class="ui labeled top-right button" tabindex="0">
                        <% if (!liked){%>
                            <div class="ui mini inverted red button" id="like-button">
                                <i class="heart icon"></i>Like
                            </div>
                            <a id="like-counter" class="ui basic  red left pointing label">
                            <% if(!recipe.likes || recipe.likes <1){%>
                            0
                            <%} else {%>
                            <%=recipe.likes%>
                            <%}%>
                            </a>
                            <%} else {%>
                            <div class="ui mini red button" id="like-button">
                                <i class="heart icon"></i> Liked
                            </div>
                            <a id="like-counter" class="ui basic red left pointing label">
                            <% if(!recipe.likes || recipe.likes <1){%>
                            0
                            <%} else {%>
                            <%=recipe.likes%>
                            <%}%>
                            </a>
                            <%}%>
                        </div>
                        <h5 class="ui rounded right aligned" id="last-updated">
                            Last Updated:
                            <span class="text-muted">
                            <%=recipe.lastUpdated.toDateString()%></span>
                        </h5>
                    </div>
                </div>
                <hr class="recipe-divider ">
                <div class="row ui stackable" id="recipe-details ">
                    <div class="ten wide column ">
                        <div class="px-0 " id="recipe-description ">
                            <h3>Instructions</h3>
                            <p>
                                <%= recipe.directions%>
                            </p>
                        </div>
                    </div>
                    <div class="six wide column ">
                        <div class="ingredients ">
                            <table class="ui very basic unstackable table ">
                                <thead>
                                    <tr>
                                        <th>Ingredient</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% recipe.ingredients.forEach((ingredient)=>{ %>
                                        <tr>
                                            <td>
                                                <%=ingredient.ingredientName%>
                                            </td>
                                            <td>
                                                <%=ingredient.ingredientQuantity%>
                                            </td>
                                        </tr>
                                        <%});%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="actions ">
                <a href="/recipes/<%=recipe._id%>/edit" class="ui orange basic button margin-top action-button" id="button-edit">Edit</a>
                            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                                <button id="button-delete" class="ui red basic button margin-top action-button">Delete</button>
                            </form>
                    </div> -->
            </div>
        </div>
    </div>

    <div class="row">

    </div>
    </div>


    <%include ../partials/footer%>