<%include ../partials/header%>

    <main class="ui container">
        <h1 id="page-title" class="ui left aligned grid huge header">
            <%=recipe.name%>
                <% if (recipe.isRestaurant === false) {%>
                    <i class="home icon"></i>
                    <% } else { %>
                        <i class="car icon"></i>
                        <% } %>

        </h1>
        <div class="item ui two column stackable grid" id="recipe">
            <div class="column px-0" id="recipe-image">
                <div class="ui left rounded image">
                    <img class="" src="<%=recipe.image%>" alt="">
                </div>
                <div class="ui left aligned update" id="last-updated">
                    <h5 class="ui rounded">
                        Last Updated:
                        <span class="text-muted"><%=recipe.lastUpdated.toDateString()%></span>
                    </h5>
                </div>
                <div class="actions">
                    <a href="/recipes/<%=recipe._id%>/edit" class="ui orange basic button margin-top action-button" id="button-edit">Edit</a>
                    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button id="button-delete" class="ui red basic button margin-top action-button">Delete</button>
                    </form>
                </div>
            </div>
            <div class="column px-0" id="recipe-content">
                <div class="content">
                    <h3 class="ui header">Recipe Stats</h3>
                    <div id="recipe-stats" class="ui equal width grid">
                        <div class="column left aligned bg-custom-blue" id="portion">
                            <h5 class="ui rounded stat">
                                Portion<br>
                                <%=recipe.portion%>
                            </h5>
                        </div>
                        <div class="column left aligned bg-custom-green" id="health">
                            <h5 class="ui rounded stat">
                                Health<br>
                                <%=recipe.health%>
                            </h5>

                        </div>
                        <div class="column left aligned bg-custom-purple" id="taste">
                            <h5 class="ui rounded stat">
                                Taste<br>
                                <%=recipe.taste%>
                            </h5>
                        </div>
                    </div>
                    <hr class="">
                    <div class="ingredients">
                        <table class="ui very basic table ">
                            <thead>
                                <tr>
                                    <th>Ingredient</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% recipe.ingredients.forEach((ingredient)=>{ %>
                                    <tr>
                                        <td>
                                            <%=ingredient.ingredientName%>
                                        </td>
                                        <td>
                                            <%=ingredient.ingredientQuantity%>
                                        </td>
                                    </tr>
                                    <%});%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%include ../partials/footer%>